@import "tailwindcss";

:root {
  --teal: #00A5A3;
  --lime: #C0F43C;
  --yellow: #F4ED3C;
  --dark: #1E2124;
  --dark2: #010103;
  --grey: #464D53;
  --border: #C6ECE8;
  --light: #E6EFF0;
  --font-manrope: 'Manrope', sans-serif;
}

@theme inline {
  --font-sans: var(--font-manrope);
}

body {
  font-family: var(--font-manrope), 'Manrope', sans-serif;
  background: #F6FFFE;
  color: #1E2124;
  font-size: 16px;
}
